*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}
a{
    text-decoration: none;
    
}

input{
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid white;
}

*:focus{
    outline: none;
}

html,body{
    height: 100%;
}

.clear{
    clear: both;
}

/* Main */
main{
    width: 100%;
    height: 100%;
    background-image: url(bg-total-2.jpg);
    background-size: 100% 100%;
    
    background-repeat: no-repeat;
}

/* Container */

.container{
    
    padding: 0 2%;
    

    max-width: 1500px;
    
    height: 50%;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    
}/**/

/* Imagem */

.container .img{
    position: relative;
    right: 180px;
    float: right;
    width: 45%;
    height: 100%;
    background-image: url(img.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 40%;
   
    
}

/**/

/* Login */
div.container form{
    
   
    width: 55%;
    height: 100%;
    
}

div.container  form   .login-wrapper{
    
    width: 50%;
    text-align: center;
    /* background-color: #ccc; */
    height: calc((100% - 60px) / 3);
}

h2{
    
    padding-top: 120px;
    display: inline-block;
    font-size: 40px;
}

.w100{
    
    border-bottom:2px solid #83F8E0;
    margin-bottom: 30px;
}
.w100-1{
    
    border-bottom:2px solid #83F8E0;
    margin-bottom: 30px;
}

.w100-1 > div.form-login{
    
    height: 100%;
    float: right;
    width: 100%;
    max-width:400px;
    /* background-color: red; */
    
    
    
}

.w100-1 .form-login2{
    float: left;
    height: 100%;
    margin-top: 15px;
    
    
}
.w100-1  a{
    display: inline-block;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 20px;
    color: white;   
}
.w100-1  a:hover{
    color:#54FF00 
}


.w100-1 div.form-login input[type=text]{
    position: relative;
    height:30%;
    line-height: 30%;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    color:#54FF00 ;
    width: 100%;
}
input[type=text]:focus{
   
    outline-color: blue;
    outline-style: outset;
    outline-width: 2px;
    
}
input[type=text]::placeholder{
  color: #54FF00;
    
}



.w100-1 div.form-login input[type=password]{
    position: relative;
    height:30%;
    line-height: 30%;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    color:#54FF00 ;
    width: 100%;
}
input[type=text]:focus{
   
    outline-color: blue;
    outline-style: outset;
    outline-width: 2px;
    
}
input[type=text]::placeholder{
  color: #54FF00;
    
}
input[type=password]:focus{
   
    outline-color: blue;
    outline-style: outset;
    outline-width: 2px;
    
}
input[type=password]::placeholder{
  color: #54FF00;
    
}



.form-login .button{
    border: 2px solid #54FF00;
    cursor: pointer;
    width: 150px;
    height: 60px;
    border-radius: 30px;
    margin-top: 40px;
    /* background-color: red; */
    float: right;
}

.form-login button{
    
    color: #54FF00;
    margin-top: 18px;
    font-size:18px;
    font-weight: bold;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0);
    width: 135px;
    cursor: pointer;
    height: 60px;
    border-radius: 30px;
    float: right;
    border: 2px solid #54FF00;
}
p{
    display: block;
    height: 100%;
    text-align: center;
    padding-top: 17.5px;
    /* background-color: red; */
    border-radius: 30px;
    transition: 0.3s;
}


.form-login p:hover{
    display: inline-block;
    margin-right: 20px;
}




/**/

/**/

@media screen and (max-width:1350px){
    .login-wrapper a{
        display: inline;
        position: absolute;
       
        white-space: nowrap;
        bottom: 250px;
        left: 10px;
        text-align: justify;
    }
}


@media screen and (max-width:1050px){
    
.container{
    display: inline-block;
    width: 80%;
    height: 80%;
    
    position: relative;
    left: 75px;
}

.img{
    display: none;
}


.login-wrapper{
    
    min-width: 400px;
    min-height: 200px;
}

button{
    
    position: relative;
    right: 125px;
}

.login-wrapper a{
    display: inline-block;
    position:absolute;
    bottom: 30px;
    left: 120px;

    
}

h2{
    position: relative;
    top: 120px;
}

.form-login2{
    
    width: 100%;
}

.w100-1 .form-login{
    position: relative;
    top:25px ;
    
}

}

@media screen and (max-height:1280px) {
    .w100{
        
        position: relative;
        bottom: 4%;
        border: 0;
    }

  
}
@media screen and (max-height:870px) {
    .w100{
        position: relative;
        bottom: 7%;
        border: 0;
    }
}
@media screen and (max-width:605px) {
   
    .login-wrapper{
        position: relative;
        right: 40px;
        min-width: 350px;
        min-height: 100px;
    }

    
}
@media screen and (max-height:787px) {
    .w100{
        position: relative;
        bottom: 30%;
        border: 0;
    }
}
@media screen and (max-height:500px) {
    .w100{
        position: relative;
        bottom: 60%;
        border: 0;
    }
}